* {
  margin: 0;
  font-family: "Arial";
  border: border-box;
}

/*TODO: Amazon navigation bar */

.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/*TODO: Amazon navigation bar, logo area */

.nav-logo {
  height: 50px;
  width: 100px;
}
.logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100%;
}

.border {
  border: 1.5px solid transparent;
  padding: 10px;
}
.border:hover {
  border: 1.5px solid white;
}
.border-logo {
  border: 1.5px solid transparent;
}
.border-logo:hover {
  border: 1.5px solid white;
}

/*TODO: Amazon navigation bar, address area */
.add-from {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 18px;
}
.add-to {
  font-size: 1rem;
  margin-left: 5px;
}
.address-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*TODO: Amazon navigation bar, search area */

.nav-search {
  display: flex;
  justify-content: space-evenly;
  height: 40px;
  width: 620px;
  border-radius: 4px;
}
.search-select {
  background-color: #f3f3f3;
  width: 50px;
  text-align: center;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #0f1111;
}
.search-input {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  font-size: 1.2rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}
.nav-search:hover {
  border: 2px solid #febd68;
}
/*TODO: Amazon navigation bar, Language preferences area*/
.nav-language {
  display: flex;
  align-items: end;
  height: 30px;
  width: 60px;
}

.flag-image {
  height: 15px;
  width: 20px;
  background-size: cover;
  margin-right: 0.2rem;
}
/*TODO: Amazon navigation bar, Sign in & Account lists area */

/*TODO: Amazon navigation bar, Returns & Orders area */
span {
  font-size: 0.7rem;
}

.nav-reuse {
  font-size: 0.85rem;
  font-weight: 700;
}
.nav-reuse i {
  color: #cccccc;
}

/*TODO: Amazon navigation bar, Cart area */
.nav-cart i {
  font-size: 30px;
}
.nav-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/*TODO:  Panel area before hero section */
.panel {
  display: flex;
  height: 40px;
  background-color: #222f3d;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}
.panel-all {
  font-size: 1rem;
  height: 15px;
  width: 40px;
}
.panel-all i {
  font-size: 20px;
}

.panel-options p {
  display: inline;
  margin-left: 15px;
  outline-width: 10px;
}
.panel-options p:hover {
  border: 2px solid white;
  padding: 10px;
}
.panel-options {
  display: inline;
  width: 90%;
  font-size: 1rem;
}

/*TODO:  Hero section area */
.hero-section {
  background-image: url("hero_image1.jpg");
  background-size: cover;
  height: 250px;
}

/*TODO:  shop categories */
.shop-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(245, 215, 233);
}

.box {
  width: 23%;
  height: 400px;
  background-color: white;
  padding: 20px 0px 15px;
  margin-top: 15px;
}
.box-image {
  height: 300px;
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.box-content {
  margin-left: 1rem;
  margin-right: 1rem;
}
.box-content p {
  color: #007185;
}
.box-content p:hover {
  color: red;
}
/* TODO: Footer Area */
footer {
  margin-top: 15px;
}
.footer-panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.footer-panel1:hover {
  background-color: hsl(213, 24%, 35%);
  color: white;
}

.footer-panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 20px;
}
ul a {
  display: block;
  font-size: 0.8rem;
  margin-top: 10px;
  color: #dddddd;
}
ul a:hover {
  text-decoration: underline;
}
.footer-panel3 {
  background-color: #222f3d;
  border-top: 0.5px solid white;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-logo {
  background-image: url("amazon_logo.png");
  background-size: cover;
  height: 50px;
  width: 100px;
}
.footer-panel4 {
  background-color: #0f1111;
  color: white;
  height: 70px;
  font-size: 0.7rem;
  text-align: center;
}
.foot-pages {
  padding-top: 25px;
}
.foot-pages a {
  margin-left: 10px;
}
.foot-pages a:hover {
  border-bottom: 0.5px solid white;
}
.foot-copyright {
  padding-top: 5px;
}
